@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card {
  padding: 1%;
  width: 36vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.157);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  & .content {
    & img {
      margin-top: 3%;
      margin-bottom: 3%;
      border-radius: 1rem;
      width: 35vh;
      object-fit: cover;
      height: 15vh;
    }
    & .tag {
      margin-top: 3%;
      margin-bottom: 3%;
      padding: 1.5%;
      padding-inline: 3%;
      font-size: 1vh;
      background: rgba(0, 0, 0, 0.323);
      width: fit-content;
      border-radius: 1rem;
      font-weight: light;
    }
    & h1 {
      font-size: large;
      padding: 0;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    & p {
      line-height: 2.3vh;
      font-size: small;
      margin-top: 3%;
      margin-bottom: 3%;
      text-wrap: balance;
      font-weight: 300;
    }
  }
  & .divider {
    width: 100%;
    border-top: 0.1vh solid #bbb;
  }
  & .name {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: small;
  }
}
